<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Miguel Rodriguez</title>
</head>
<body class="container w-1/2 bg-white">

<header>
  <div aria-hidden="true" class="mt-40"></div>
</header>

<div class="mb-10">
  <span>Miguel Rodríguez</span><br>
  <span>Designer and Developer</span>
</div>

  <p><span class="cursive">Iterating towards tangible realities.</span> Transforming legacy projects into modern digital experiences. Thinking about the human-centered approach to
  design, collaborative work, and seamless digital products.</p>

  <div class="grid grid-cols-4 gap-4 mt-10 mb-10 text-gray-500">
    <div>
    <span>Recent Projects</span>
    <a class="text-gray-900 hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://www.savealexandria.xyz"><p class="mt-10">Alexandria</p></a>
    <p class="leading-7">Break even point calculator built on Rails and Tailwind CSS</p>

    <a class="text-gray-900 hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://oceanbnb.herokuapp.com"><p class="mt-10">Oceanbnb</p></a>
    <p class="leading-7">Airbnb Clone built on Rails and JS</p>
    </div>



    <div class="col-span-2">
    <span>Experience</span>
    <div>
    <ul class="mt-10">
    <li>Head of Product and CCO</li>
    <li>Elite Training</li>
    <li>Remote</li>
    <li>Aug 2021 - Present</li>
    <li>Innovation and revamp of the Communication, Marketing and Product departments in the company, through UX/UI Design,
      Design Thinking, Development with tools like Figma, Wordpress, Notion, Calendly, Slack.</li>
    </ul>
  </div>
    </div>

  </div>

  <div>
    <span>Education</span>
    <ul>
      <li>Web Development Bootcamp</li>
      <li>Le Wagon Madrid</li>
      <li>Madrid, Spain</li>
      <li>Oct 2021 - Dec 2021</li>
    </ul>
  </div>

  <div>
      <ul class="mt-10 text-gray-900">
        <li>Rails</li>
        <li>Ruby</li>
        <li>HTML5</li>
        <li>Tailwind CSS</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>Figma</li>
        <li>Sketch</li>
        <li>Adobe</li>
        <li>Keynote</li>
        <li>Shopify</li>
      </ul>
  </div>


  <div>
    <ul>
      <li>UX UI Designer</li>
      <li>Filiatly</li>
      <li>Madrid, Spain</li>
      <li>Apr 2020 - Aug 2021</li>
      <li>Full UX/UI design process and development of an Influencer Marketing SaaS platform.</li>
      <li>Main tasks:
        <ul>
          <li>Wireframing, MidFi, HighFi and production design for desktop and mobile for the SaaS platform and landing website with Figma and Sketch.</li>
          <li>Design and development of online stores through Wordpress, Shopify, Prestashop, Squarespace and the technical integrations with the platform.</li>
          <li>Communication with clients and their needs from their online stores and websites.
          Direct communication with the dev team for the production and final proposals of the SaaS platform and website design.</li>
          <li>Management of the QA Dev team, gathering all feedback from users and Product Team and organizing it with JIRA and Asana through Agile methodologies.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Design Consultant</li>
      <li>Elite Training</li>
      <li>Remote</li>
      <li>Jul 2019 - Jan 2020</li>
      <li>As a Design Consultant, I am involved in the complete design process based on Agile, SCRUM and UX/UI methodologies as an exterior consultant and third-party provider to the company.</li>
      <li>Main tasks:
        <ul>
          <li>Design research of the companies' industry, history and processes origins.</li>
          <li>Identity reformulation and Corporate Branding, specifically Branding book re-design, branding colors, logo, fonts, copy and voice.</li>
          <li>Design Thinking tools focused on problem identification in every process - sales, customer service, accounting, IT.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Sales and Service Agent</li>
      <li>Concentrix</li>
      <li>Bogotá, Colombia</li>
      <li>Nov 2017 - Aug 2018</li>
      <li>As a sales and customer service bilingual agent, I am involved in connecting with clients, offering products, and new information about their profiles, purchases and buying habits.</li>
      <li>Main tasks:
        <ul>
          <li>Salesforce management of sales of the Campaign Client (FLIR, LOREX) and of the profile of each end-user.</li>
          <li>Ticket creation and client's needs resolution and assistance.</li>
          <li>Direct connection with customers through chat and phone communication.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Management Assistant</li>
      <li>Elite Training</li>
      <li>Bogotá, Colombia</li>
      <li>Jan 2017 - Oct 2017</li>
      <li>Management Assistant (Courses logistics, and data base administration).</li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Sales Agent</li>
      <li>Elite Training</li>
      <li>Bogotá, Colombia</li>
      <li>Jan 2016 - Dec 2016</li>
      <li>Sales and Customer Service Agent. (Product management, and client service).</li>
    </ul>
  </div>

  <h6>Education</h6>

  <div>
    <ul>
      <li>Web Development Bootcamp</li>
      <li>Le Wagon Madrid</li>
      <li>Madrid, Spain</li>
      <li>Oct 2021 - Dec 2021</li>
    </ul>
  </div>

  <div>
    <ul>
      <li>UX UI Full Time Bootcamp</li>
      <li>Ironhack Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2020 - Mar 2022</li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Communication Design Labs (Masters of Design and Innovation)</li>
      <li>IED Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2019 - Dec 2019</li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Design with focus on Communication (User-centered design, service and interaction design)</li>
      <li>Universidad de los Andes</li>
      <li>Bogotá, Colombia</li>
      <li>2011 - 2018</li>
    </ul>
  </div>

  <h6>Skills</h6>



  <h6>Languages</h6>

  <div>
    <ul>
      <li>English - Professional Proficiency</li>
      <li>Spanish - Native Proficiency</li>
    </ul>
  </div>


<h6 class="">Designer and Developer</h6>
  <ul>
    <li>Madrid, Spain</li>
    <li>Email Miguel</li>
    <li>+34644518943</li>
    <li>mglnglx.github.io/portfolio</li>
  </ul>

</body>
</html>
