<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Miguel Rodriguez</title>
</head>
<body class="container w-3/5 bg-white">

<header>
  <div aria-hidden="true" class="mt-40"></div>
</header>

<div class="mb-10">
  <span>Miguel Rodríguez</span><br>
  <span>Designer and Developer</span>
</div>

  <p><span class="cursive">Iterating towards tangible realities.</span> Transforming legacy projects into modern digital experiences. Thinking about the human-centered approach to
  design, collaborative work, and seamless digital products.</p>
  <p>Based in Madrid. <a href="">Call me</a> <a href="">Send me an email.</a> <a href="linkedin.com/in/mglnglx">LinkedIn</a> <a href="mglnglxx.github.io/profile"></a>Github</p>

<div class="grid grid-cols-4 gap-4 mt-10 mb-10 text-gray-500">
  <div>
    <span>Recent Projects</span>
    <a class="text-gray-900 underline hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://www.savealexandria.xyz"><p class="mt-10">Alexandria</p></a>
    <p class="leading-7">Break even point calculator built on Rails and Tailwind CSS</p>

    <a class="text-gray-900 underline hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://oceanbnb.herokuapp.com"><p class="mt-10">Oceanbnb</p></a>
    <p class="leading-7">Airbnb Clone built on Rails and JS</p>

    <a class="text-gray-900 underline hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://mglnglx.medium.com/ux-ui-case-study-infoportal-adapting-to-bureaucracy-4616ce132b9b"><p class="mt-10">Infoportal</p></a>
    <p class="leading-7">UX UI Case Study: Adapting to bureaucracy</p>

    <a class="text-gray-900 underline hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href="https://mglnglx.medium.com/ux-ui-case-study-wellness-pace-6f6cbb81b75d"><p class="mt-10">Pace</p></a>
    <p class="leading-7">UX UI Case Study on Wellness</p>

    <span class="mt-10 text-gray-900">Work in Progress</span>

    <a class="text-gray-900 hover:no-underline transition ease-in-out duration-600 hover:text-gray-500" href=""><p class="mt-10">Vent</p></a>
    <p class="leading-7">Design Thinking: Mental Health</p>
  </div>

  <div class="col-span-2">
    <span>Experience</span>
    <div>
      <ul class="mt-10">
      <li class="text-gray-900">Head of Product</li>
      <li class="text-gray-800">Elite Training</li>
      <li>Remote</li>
      <li>Aug 2021 - Present</li>
      <li class="text-gray-700">Innovation and revamp of the Communication, Marketing and Product departments in the company.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">UX UI Designer</li>
        <li class="text-gray-800">Filiatly</li>
        <li>Madrid, Spain</li>
        <li>Apr 2020 - Aug 2021</li>
        <li class="text-gray-700">Full UX/UI design process and development of an Influencer Marketing SaaS platform.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">Design Consultant</li>
        <li class="text-gray-800">Elite Training</li>
        <li>Remote</li>
        <li>Jul 2019 - Jan 2020</li>
        <li class="text-gray-700">Brand identity and design process development based on Agile, SCRUM and UX/UI methodologies.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">Sales and Customer Service Agent</li>
        <li class="text-gray-800">Concentrix</li>
        <li>Bogotá, Colombia</li>
        <li>Nov 2017 - Aug 2018</li>
    </div>
</div>

  <div class="pl-8">
    <span>Education</span>
    <ul class="mt-10">
      <li class="text-gray-900">Web Development Bootcamp</li>
      <li class="text-gray-700">Le Wagon Madrid</li>
      <li>Madrid, Spain</li>
      <li>Oct 2021 - Dec 2021</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">UX UI Full Time Bootcamp</li>
      <li class="text-gray-700">Ironhack Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2020 - Mar 2022</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">Communication Design Labs Masters</li>
      <li class="text-gray-700">IED Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2019 - Dec 2019</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">Design Major - Communication Minor</li>
      <li class="text-gray-700">Universidad de los Andes</li>
      <li>Bogotá, Colombia</li>
      <li>2011 - 2018</li>
    </ul>
  </div>
</div>

<div class="grid grid-cols-4 gap-4 mt-10 mb-10 text-gray-900">

  <ul>
    <li>Madrid, Spain</li>
    <li>Email Miguel</li>
    <li>+34644518943</li>
    <li>mglnglx.github.io/portfolio</li>
  </ul>

</body>
</html>
