<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Miguel Rodriguez</title>
</head>
<body class="container sm:w-4/5 md:w-3/4 lg:w-3/5 opacity-80 data-replace='{ 'translate-y-12': 'translate-y-0' }">

<header>
  <div aria-hidden="true" class="mt-40"></div>
</header>

<div class="intro-info mb-6">
  <span class="text-2xl pb-4 font-medium tracking-wide">Miguel Rodríguez</span><br>
  <span>Designer and Developer</span><br>
  <span class="text-gray-500 font-medium">Based in Madrid</span><br><br>
  <a class="url url1 underline" href="mailto:aphex95@gmail.com">Send me an email</a><br>
  <a class="url url2 underline" href="https://www.linkedin.com/in/mglnglx">LinkedIn</a><br>
  <a class="url url3 underline" href="https://www.github.com/mglnglxx">Github</a><br>
  <a class="url url4 underline" href="https://drive.google.com/file/d/1o6D5u9O2F3u-47ss33AbXhbXMK9XDnX4/view?usp=sharing">Resume</a>

</div>

<p><span class="cursive">Iterating towards tangible realities.</span> Transforming legacy projects into modern digital experiences. Thinking about the human-centered approach to
design, collaborative work, and seamless digital products. Mostly working now with <span class="figma">Figma</span>, <span class="ruby">Ruby on Rails</span>, <span class="js">JS</span>, <span class="html5">HTML</span> and <span class="tailwindcss">Tailwind CSS</span>. </p>

<div class="grid sm:grid-cols-1 md:grid-cols-3 md:gap-8 lg:gap-4 lg:grid-cols-4 mt-10 mb-10 text-gray-500">
  <div class="mb-10">
    <span class="font-medium text-black lg:text-gray-500 lg:font-normal">Select Work</span>

    <a class="underline" href="https://www.savealexandria.xyz"><p class="url font-medium mt-10">Alexandria</p></a>
    <p class="leading-7">Break even point calculator built on Rails and Tailwind CSS</p>

    <a class="underline" href="https://oceanbnb.herokuapp.com"><p class="url font-medium mt-10">Oceanbnb</p></a>
    <p class="leading-7">Airbnb Clone built on Rails and JS</p>

    <a class="underline" href="https://filiatly.com"><p class="url font-medium mt-10">Filiatly</p></a>
    <p class="leading-7">Influencer Marketing Web and Mobile App</p>

    <a class="underline" href="https://mglnglx.medium.com/ux-ui-case-study-infoportal-adapting-to-bureaucracy-4616ce132b9b"><p class="url font-medium mt-10">Infoportal</p></a>
    <p class="leading-7">UX UI Case Study: Adapting to bureaucracy</p>

    <a class="underline" href="https://mglnglx.medium.com/ux-ui-case-study-wellness-pace-6f6cbb81b75d"><p class="url font-medium mt-10">Pace</p></a>
    <p class="leading-7">UX UI Case Study on Wellness</p>

  </div>

  <div class="col-span-2 mb-10">
    <span class="font-medium text-black lg:text-gray-500 lg:font-normal">Experience</span>
    <div>
      <ul class="mt-10">
      <li class="text-gray-900">Head of Product</li>
      <li class="text-gray-800">Elite Training</li>
      <li>Remote</li>
      <li>Aug 2021 - Present</li>
      <li class="text-gray-700">Innovation and revamp of the Communication, Marketing and Product departments in the company.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">UX UI Designer</li>
        <li class="text-gray-800">Filiatly</li>
        <li>Madrid, Spain</li>
        <li>Apr 2020 - Aug 2021</li>
        <li class="text-gray-700">Full UX/UI design process and development of an Influencer Marketing SaaS platform.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">Design Consultant</li>
        <li class="text-gray-800">Elite Training</li>
        <li>Remote</li>
        <li>Jul 2019 - Jan 2020</li>
        <li class="text-gray-700">Brand identity and design process development based on Agile, SCRUM and UX/UI methodologies.</li>
      </ul>
    </div>

    <div>
      <ul class="mt-10">
        <li class="text-gray-900">Sales and Customer Service Agent</li>
        <li class="text-gray-800">Concentrix</li>
        <li>Bogotá, Colombia</li>
        <li>Nov 2017 - Aug 2018</li>
    </div>
</div>

  <div class="lg:pl-8 md:pl-0">
    <span class="font-medium text-black lg:text-gray-500 lg:font-normal">Education</span>
    <ul class="mt-10">
      <li class="text-gray-900">Web Development Bootcamp</li>
      <li class="text-gray-700">Le Wagon Madrid</li>
      <li>Madrid, Spain</li>
      <li>Oct 2021 - Dec 2021</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">UX UI Full Time Bootcamp</li>
      <li class="text-gray-700">Ironhack Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2020 - Mar 2022</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">Communication Design Labs Masters</li>
      <li class="text-gray-700">IED Madrid</li>
      <li>Madrid, Spain</li>
      <li>Jan 2019 - Dec 2019</li>
    </ul>

    <ul class="mt-10">
      <li class="text-gray-900">Design Major - Communication Minor</li>
      <li class="text-gray-700">Universidad de los Andes</li>
      <li>Bogotá, Colombia</li>
      <li>2011 - 2018</li>
    </ul>
  </div>
</div>



</body>
</html>
